@tailwind base;
@tailwind components;
@tailwind utilities;

.star-rating .star {
    cursor: pointer;
    transition: color 0.2s;
}
.star-rating .star:hover,
.star-rating .star.active {
    color: #facc15; /* Kuning untuk bintang aktif */
}
